.signin_login_box {
    -fx-background-radius: 30px;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-color: transparent;
    -fx-border-color: #4bb3fd;
}

.signin_login_box:hover {
    -fx-background-color: #4bb3fd;
}

.signin_login_box_button_1,
.signin_login_box_button_2 {
    -fx-font-size: 25px;
    -fx-font-family: sans-serif;
    -fx-background-color: transparent;
}